:root {
  --primary-font-family: 'Roboto', sans-serif;
  --default-font-size: 24px;
  --roboto-weight-medium: 500;

  --lavender: #E6E6FA;
  --dark-lavender: #6b6bea;
  --gold: #FFD700;
  --pink: #D801A7;
  --dark-pink: #fb9ee5;
  --dark-navy: #09046B;
}

/* body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font-family);
  font-size: var(--default-font-size);
} */